rouge-score
absl-py==1.1.0
astor==0.8.1
certifi==2021.5.30
cffi==1.15.0
colorama==0.4.4
dataclasses==0.8
gast==0.2.2
google-pasta==0.2.0
grpcio==1.46.3
h5py==2.10.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
numpy==1.18.5
opt-einsum==3.3.0
portalocker==2.4.0
protobuf==3.19.4
pycparser==2.21
regex==2022.6.2
sacrebleu==2.1.0
six==1.16.0
tabulate==0.8.9
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcolor==1.1.0
torch==1.0.1.post2
tqdm==4.64.0
typing_extensions==4.1.1
Werkzeug==2.0.3
wrapt==1.14.1
zipp==3.6.0